@media screen and (min-width: 350px) and (max-width: 600px){
    .container {
        height: 100vh;
    }
    .logo{
        margin: 10px 0px;
    }
    .titulo{
        font-size: 30px;
        margin-top: 20px;
    }
    .frase, .botao{
        font-size: 25px;
    }
    .botao, h2{
        font-size: 20px;
    }
    .redes a img{
        height: 40px;
    }
    #leave{
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 760px){
    .frase, .botao, .titulo{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    .botao{
        font-size: 20px;
    }
    .redes a img{
        height: 40px;
    }
}

@media screen and (max-width: 1000px){
    .container-interno{
        width: 100%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px){
    .container {
        height: 100%;
    }
}

@media screen and (min-width: 2500px){
    .container-interno{
        width: 100%;
    }
    .titulo{
        font-size: 80px;
    }
    .frase, .botao{
        max-width: 2000px;
        font-size: 70px;
    }
    .botao, h2{
        font-size: 60px; 
    }
    .redes a img{
        height: 90px;
    }
}
