*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Work Sans", system-ui;
    scroll-behavior:smooth;
}

/*DIVs FLEX*/
#sobre-nos, .menu-tel, .menu, .empresa, .home, .container-imagens, .frases, .solicita-botao, .redes, .sobre, .container-sobre, .logo-sobre, .diferencias, .container-diferenciais, .diferenca, .section-logo, .container-produtos, .produto, .titulo-produtos, .secao-botao, .servicos, .container-servicos, .tipo-servico, .feedbacks, .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5, .porque, .container-porque, .porque-escolher, .fale-conosco, .container-contato, .contato, .form-map, .formulario, .parceiros, .section-ns,.trocas, footer, .container-footer, .paginas, .contato-numero, .redes-socias, .sociais, .desenvolvedora{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TITULOS*/
.logo-sobre h1, .diferencias h1, .produtos h1, .servicos h1, .feedbacks h1, .porque h1, .fale-conosco h1, .parceiros h1{
    letter-spacing: 4px;
    font-size: 40px;
    color: rgb(34, 34, 32);
    font-weight: 600;
    border-bottom: 2px solid rgb(1, 110, 89);
    padding: 5px 5px;
    margin-bottom: 15px;
}
/*TITULOS WHITE*/
.logo-sobre h1, .produtos h1, .porque h1, .parceiros h1{
    color: white;
    border-bottom: 2px solid rgb(170, 203, 99);
}

/*SOBRE-NÓS INVISIVEL*/
#sobre-nos{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(10px);
    flex-direction: column;
    z-index: -1;
    opacity: -1;
}
#fechar-sobre, #fechar-menu{
    height:50px;
    position: fixed;
    color: rgb(255, 0, 0);
    top: 30px;
    right:30px;
    cursor: pointer;
    z-index: +2;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}
#fechar-sobre:hover{
    padding: 3px;
    background-color: rgba(255, 251, 251, 0.253);
}
#fechar-menu{
    position: absolute;
}
.sobre{
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.video{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.container-sobre{
    justify-content: space-around;
    gap: 50px;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.301);
    padding: 40px 20px;
    border-radius: 10px;
}
.logo-sobre{
    flex-direction: column;
    padding: 0px 0px 0px 20px;
    text-align: center;
}
.logo-sobre img{
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
}
.texto-sobre{
    letter-spacing:1.2px;
    line-height: 42px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 400;
    width: 700px;
    padding:10px;
}

/*---*/
.home{
    height: 100vh;
    width:100%;
    flex-direction: column;
    background-image: url(../imagens/banner.jpg);
    background-position: right;
    background-size: cover;
    justify-content: start;
}
/*MENU PARA DISPOSITIVOS MAIORES DE 650px*/
.menu{
    gap: 30px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.315);
    backdrop-filter: blur(10px);
    opacity: 0;
    position: absolute;
    top: 120px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.842));
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 15px 20px;
    border-bottom: 1px solid transparent;
    transition: all 1s;
    cursor: pointer;
    border-radius: 10px;
}
.menu a:hover{
    color: rgb(6, 207, 167);
    background-color: rgba(241, 244, 247, 0.24);
}
.abrir-menu, .menu-tel{
    display: none;
}
.menu-tel.abrir{
    display: flex;
}
.abrir-menu{
    height:40px;
    position: absolute;
    right: 10px;
    top: 150px;
    border-radius: 50px;
}
.abrir-menu:hover{
    background-color:rgba(206, 210, 214, 0.26);
}
/*MENU PARA TELEFONES*/
.menu-tel{
    background-color: rgba(0, 0, 0, 0.37);
    height: 100vh;
    width: 100%;
    z-index: +1;
    backdrop-filter: blur(20px);
    position: absolute;
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
    font-weight:500;
}
.menu-tel a{
    text-decoration: none;
    color: white;
    padding:10px 50px;
    border-radius: 10px;
}
.menu-tel a:hover{
    background-image: linear-gradient(to right, rgb(1, 110, 89), black);
}
/*HOME-PARCEIROS*/
.empresa{
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0px;
    background-color: rgba(245, 245, 245, 0.212);
    opacity: 0;
    backdrop-filter: blur(10px);
}
marquee{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.empresa::before{
    content: "PRINCIPAIS CLIENTES";
    position: absolute;
    font-weight: 500;
    font-size: 30px;
    word-spacing: 30px;
    letter-spacing: 10px;
    text-align: center;
    animation: troca 12s alternate infinite;
}
marquee img{
    margin: 0px 50px;
}
.alok{
    height: 70px;
    width: 70px;
}
.ambev{
    height: 80px;
    width: 180px;
}
.minalba{
    height: 65px;
    width: 150px;
}
.rio{
    height: 80px;
    width: 180px;
}
.so-track{
    height:70px;
    width: 80px;
}
.rap{
    height:70px;
    width: 70px;
}
.container-imagens{
    position: absolute;
    right: 50px;
    top:230px;
}
.logo{
    height: 170px;
    opacity: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.842));
}
.gases{
    transform: translateX(-200px);
    opacity: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.842));
}
.frases{
    flex-direction: column;
    opacity: 0;
    transform: translateY(200px);
    text-align: right;
    width: 100%;
}
.frases h1{
    font-size: 40px;
    font-weight: 500;
    color:white;
    position: absolute;
    right: 50px;
    width: 850px;
    top: 420px;
}
.frases span{
    color: rgb(170, 203, 99);
    filter: drop-shadow(1px 1px 5px rgb(0, 0, 0));
}
.suporte{
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    position: absolute;
    right: 50px;
    top: 590px;
}
.suporte p{
    color: transparent;
}
.suporte::before{
    content: '';
    background-image: url(../imagens/icones/caminhao.svg);
    height: 60px;
    width: 28%;
    position: absolute;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: movimento 2s linear;
    animation-delay: 3s;
    bottom: 0px;
    opacity:0;
}
.whats-fixo{
    color: white;
    text-decoration: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: +2;
}
.whats-fixo img{
    height: 60px;
    border: 1px solid transparent;
    border-radius:50%;
}
.whats-fixo img:hover{
    border: none;
}

main{
    width: 100%;
    height: 100%;
}

/*DIFERENCIAS*/
.diferencias{
    padding: 50px 0px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.container-diferenciais{
    width: 100%;
    gap: 50px;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}
.diferenca{
    width: 280px;
    padding: 20px 0px;
    background-color: rgb(154, 209, 170);
    border-radius:15px;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgb(175, 172, 172);
}
.diferenca img{
    height: 120px;
}
.diferenca p{
    padding: 0px 5px;
}

/*PRODUTOS*/
.produtos{
    padding: 50px 0px 100px 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(1, 110, 89);
}
.produtos:hover .section-logo img{
    opacity: 0.3;
}
.section-logo{
    display: flex;
    width: 100%;
    flex-direction: column;    
}
.section-logo img{
    height: 100px;
    transition: all 1s;
    position: absolute;
    right: 50px;
}
.container-produtos{
    justify-content: start;
    margin-top: 150px;
    gap: 50px;
    height: 450px;
    overflow-x:scroll;
    padding: 0px 20px;
    background-image: linear-gradient( to right,rgb(1, 110, 89), #01606E);
}
.produto{
    background-image: linear-gradient(to top right , rgba(170, 203, 99, 0.589), transparent);
    color: white;
    text-align: center;
    height:420px;
    min-width: 350px;
    flex-direction: column;
    justify-content: initial;
    border-radius: 5px;
    gap: 20px;
    animation: carrossel linear alternate 20s;
}
.titulo-produtos{
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 3px;
    font-weight: 600;
    position: relative;
    border: 1px solid;
    border-color: transparent transparent white transparent;
    transition: all 1s ease;
}
.produto img{
    height: 170px;
}
.especificacao{
    font-size: 15px;
    padding: 0px 15px;
    text-align: start;
}
ul{
    font-weight: 500;
    margin: 0px 0px 5px 0px;
}
li{
    font-weight:300;
    padding: 3px 0px;
}
.secao-botao{
    width: 100%;
    margin-top: 50px;
}
.botao-produtos{
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(170, 203, 99), rgb(1, 110, 89)); 
    transition: all 1s;
    font-size: 20px;
}
.botao-produtos:hover{
    color: rgb(34, 34, 32);
    background-image: linear-gradient(to right, rgb(170, 203, 99), #016E33);
}

/*SERVIÇOS*/
.servicos{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 100px 0px 50px 0px;
}
.servicos small{
    color: rgb(126, 217, 86);
    font-size: 25px;
    font-weight: 600;
    margin: 20px 10px 0px 10px;
    text-align: center;
}
.container-servicos{
    margin-top: 150px;
    gap: 100px;
}
.tipo-servico{
    justify-content: start;
    height: 300px;
    width: 320px;
    background-color: rgba(71, 171, 99, 0.904);
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    gap: 10px;
}
.tipo-servico img, .tipo-servico h2, .tipo-servico p{
    height: 110px;
    position: relative;
    bottom: 70px;
}
.tipo-servico h2{
    font-size: 22px;
    color: white;
    bottom: 45px;
}
.tipo-servico p{
    font-size: 17px;
    bottom: 60px;
    padding: 0px 10px;
    line-height: 20px;
}
.saiba-botao{
    margin-top: 100px;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: rgb(126, 217, 86);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(to left,rgb(1, 110, 89), rgb(1, 110, 89), rgb(170, 203, 99), rgb(170, 203, 99));
    background-size: 400% 100%;
    animation: degrade 7s infinite alternate;
}
.saiba-botao:hover{
    color: rgb(212, 226, 218);
    border-radius: 5px 20px;
}

/*FEEDBACKS*/
hr{
    border: 1px solid rgb(71, 171, 99);
}
.feedbacks{
    flex-direction: column;
    padding: 100px 0px;
    text-align: center;
}
.feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
    margin-top: 50px;
    height: 100%;
    text-align: center;
    gap: 50px;
}
.feedback-2, .feedback-3, .feedback-4, .feedback-5{
    display: none;
}
.feed{
    border-radius: 20px;
    padding: 10px 50px;
    background-image: linear-gradient(to top right, rgba(122, 121, 121, 0.171), rgba(240, 248, 255, 0.082));
    backdrop-filter: blur(5px);
    width: 550px;
    height: 410px;
}
.foto{
    height: 100px;
    border-radius: 50%;
}
.aspas-1, .aspas-2{
    font-size: 45px;
    color:rgb(1, 110, 89);
    position: relative;
}
.aspas-1{
    right: 210px;
    top: 35px;
}
.aspas-2{
    left: 200px;
}
.feed-text{
    font-size: 20px;
    font-family: 'Outfit';
}
.section-ns{
    width: 100%;
    justify-content: space-between;
}
.feed-title{
    color: rgb(1, 110, 89);
    font-size: 20px;
    font-weight:650;
}
.estrela{
    filter: drop-shadow(3px 3px 5px rgb(255, 217, 0));
}
.trocas{
    margin-top: 50px;
    gap: 15px;
    background-color: rgb(1, 110, 89);
    padding:10px 50px;
    border-radius: 0px 50px;
}
.bt1{
    background-color:rgb(170, 203, 99);
}
.bt1, .bt2, .bt3, .bt4, .bt5{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.bt2, .bt3, .bt4, .bt5{
    background-color: rgb(208, 208, 198);
}
.bt1:hover, .bt2:hover, .bt3:hover, .bt4:hover, .bt5:hover{
    border: 1px solid rgb(1, 110, 89);
}

/*PORQUE ESCOLHER A MMR*/
.porque{
    height: 100%;
    width: 100%;
    background-color: rgba(1, 110, 88);
    flex-direction: column;
    padding: 100px 0px;
    text-align: center;
    color: white;
    gap: 100px;
}
.porque:hover .section-logo-pr img{
    opacity: 0.3;
}
.section-logo-pr{
    position: absolute;
    right: 45px;
    margin-bottom: 550px;
}
.section-logo-pr img{
    height: 80px;
    transition: all 1s;
}
.container-porque{
    gap: 100px;
    text-align: center;
    flex-wrap: wrap;
    color: rgb(34, 34, 32);
    transition: all 1s;
}
.porque-escolher{
    width: 400px;
    height: 120px;
    border-radius: 5px;
    background-color: rgb(170, 203, 99);
    flex-direction: column;
    gap: 10px;
}
.porque-escolher h3{
    font-weight:500;
    font-size: 20px;
    z-index: +1;
    color: rgba(1, 110, 88);
}
.porque-escolher p{
    font-size: 17px;
    transition: all 1s;
    z-index: +1;
}

/*FALE-CONOSCO*/
.fale-conosco{
    padding: 100px 0px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.fale-conosco p{
    font-size: 25px;
    color: rgb(34, 34, 32);
    font-weight: 500;
}
.container-contato{
    margin-top: 100px;
    gap: 100px;
}
.contato{
    height: 200px;
    width: 300px;
    background-color: rgb(1, 110, 89);
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-decoration: none;
}
.contato:hover{
    border: 2px solid rgb(255, 255, 255);
}
.contato img{
    height: 60px;
}
.contato h4{
    font-size: 20px;
    color: rgb(34, 34, 32);
}
.contato p{
    font-weight: 300;
    color: white;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 5px;
}
.form-map{
    margin-top: 50px;
    gap: 100px;
}
iframe{
    height: 500px;
    width: 550px;
    border-radius: 20px;
}
.formulario{
    flex-direction: column;
    gap: 40px;
    height: 500px;
    width: 450px;
    background-color: rgba(170, 203, 99, 0.432);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgb(153, 150, 150);
}
.formulario h5{
    font-size: 20px;
    color: rgb(1, 110, 89);
}
.formulario input, .formulario textarea{
    outline: none;
    border: none;
}
.nome, .numero, .email{
    height: 35px;
    width: 350px;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    background-color:rgba(255, 255, 255, 0.596);
    border-radius: 5px;
}
textarea{
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    resize: none;
    height: 100px;
    width: 350px;
    background-color:rgba(255, 255, 255, 0.596);
}
.form-botao{
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgb(1, 110, 89), rgb(170, 203, 99));
    color: white;
    cursor: pointer;
}
.form-botao:hover{
    background-image: linear-gradient(to left, rgb(1, 110, 89), rgb(170, 203, 99));
}

/*EMPRESAS PARCEIRAS 2*/
.parceiros{
    height: 100%;
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(1, 110, 89);
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.marquee-secundario{
    background-color: rgba(240, 248, 255, 0.226);
    width: 100%;
}

/*RODAPÉ*/
footer{
    height: 400px;
    width: 100%;
    background-color:rgb(34, 34, 32);
    flex-direction: column;
    color: white;
}
.container-footer{
    padding: 0px 100px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.logo-final img{
    height: 80px;
    border-radius: 20px;
}
.logo-final strong{
    font-size: 17px;
}
.logo-final p{
    font-size: 14px;
}
.contatos-finais h2{
    font-size: 20px;
}
.contato-numero{
    gap: 5px;
    margin: 10px 0px;
    text-decoration: none;
    color: white;
}
.contato-numero img{
    height: 40px;
}
.paginas{
    flex-direction: column;
}
.paginas a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    flex-direction: column;
    cursor: pointer;
}
.paginas a:hover{
    color:rgb(1, 110, 89);
}
.redes-sociais{
    flex-direction: column;
}
.redes-sociais h2{
    font-size: 20px;
}
.sociais{
    gap: 20px;
    margin-top: 10px;
}
.sociais img{
    height: 40px;
}
.sociais a{
    text-decoration: none;
}
.sociais img:hover{
    border-radius: 50%;
    border: 1px solid transparent;
}
.desenvolvedora{
    margin-top: 40px;
    color: rgba(255, 166, 0, 0.842);
    gap: 10px;
    text-decoration: none;
}
.desenvolvedora:hover{
    color: rgba(255, 255, 255, 0.493);
}
.desenvolvedora img{
    height: 30px;
}
