@media screen and (min-width: 350px) and (max-width:479px){
    #fechar-sobre{
        top: 30px;
        right: 30px;
    }
    .sobre{
        height: 99%;
        width: 99%;
        content: '';
        background-image: url(../imagens/back-2.jpg);
        background-position: center;
        background-size: cover;  
    }
    .video{
        display: none;
    }
    .container-sobre{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 5px 0px;
        height: 100%;
    }
    .logo-sobre h1, .diferencias h1, .produtos h1, .servicos h1, .feedbacks h1, .porque h1, .fale-conosco h1, .parceiros h1{
        font-size: 25px;
    }
    .logo-sobre img{
        height: 100px;
        margin: 10px 0px 20px 0px;
    }
    .texto-sobre{
        width: 100%;
        font-size: 18px;
        line-height: 26px;
    }
    /*-----------------------------------*/
    .home{
        background-position: right;
    }
    .empresa::before{
        font-size: 20px;
        word-spacing: 10px;
        letter-spacing: 6px;
    }
    marquee img{
        margin: 0px 10px;
    }
    .menu, .menu-tel{
        display: none;
    }
    .abrir-menu{
        display: flex;
    }
    /*-----------------------------------*/
    .container-imagens{
        top:210px;
    }
    .logo{
        height: 85px;
    }
    .gases{
        height: 20px;
    }
    .frases{
        width: 100%;
    }
    .frases h1{
        margin-top: 20px;
        font-size: 20px;
        padding: 0px 20px;
    }
    /*-----------------------------------*/
    .diferencias{
        padding: 50px 0px;
        height: 100%;
    }
    .container-diferenciais{
        gap: 30px;
        flex-wrap: wrap;
    }
    .diferenca{
        font-size: 15px;
        gap: 20px;
        height: 230px;
        width: 250px;
    }
    .diferenca img{
        height: 100px;
    }   
    /*-----------------------------------*/
    .produtos{
        padding: 50px 0px 70px 0px;
    }
    .produtos h1, .four-bar{
        margin-top: 30px;
        margin-left: 10px;
    }
    .four-bar{
        margin-top: 5px;
        margin-left: 10px;
        width: 319px;
    }
    .container-produtos{
        margin-top: 70px;
        gap: 30px;
    }
    /*-----------------------------------*/
    .servicos small{
        font-size: 18px;
    }
    .container-servicos{
        gap:90px;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    .tipo-servico{
        height: 230px;
        width: 290px;
    }
    .tipo-servico img{
        height: 80px;
        bottom: 50px;
    }
    .tipo-servico h2{
        bottom: 30px;
        font-size: 20px;
    }
    .tipo-servico p{
        bottom: 45px;
        font-size: 15px;
        padding: 0px 5px;
    }
    /*-----------------------------------*/
    .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
        flex-direction: column;
        gap: 10px;
    }
    .feed{
        width:100%;
        height: 335px;
        padding: 10px 20px;
    }
    .aspas-1{
        right: 160px;
        top: 30px;
    }
    .aspas-2{
        left: 160px;
    }
    .foto{
        height: 70px;
    }
    .feed-text{
        font-size: 16px;
    }
    .feed-title{
        font-size: 17px;
    }
    /*-----------------------------------*/
    .porque{
        gap:20px;
    }
    .container-porque{
        gap: 20px;
    }
    .porque-escolher{
        width: 350px;
    }
    /*-----------------------------------*/
    .fale-conosco h1{
        font-size: 35px;
    }
    .fale-conosco p{
        font-size: 20px;
    }
    .container-contato{
        margin-top: 50px;
        gap: 30px;
        flex-wrap: wrap;
    }
    .form-map{
        gap: 50px;
        flex-direction: column;
    }
    iframe{
        height: 300px;
        width: 340px;
    }
    .formulario{
        width: 350px;
    }
    .nome, .numero, .email{
        width: 300px;
    }
    textarea{
        width: 300px;
    }
    /*-----------------------------------*/
    footer{
        height: 100%;
        padding: 50px 0px;
        z-index: +3;
        position: relative;
    }
    .container-footer{
        padding: 0px 0px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 20px;
    }
    .logo-final img{
        height: 90px;
    }
    .logo-final strong{
        font-size: 17px;
    }
    .logo-final h2{
        font-size: 17px;
    }
    .logo-final p{
        font-size: 12px;
    }
    .contatos-finais h2{
        font-size: 17px;
    }
    .contato-numero img{
        height: 25px;
    }
    .contato-numero p{
        font-size: 14px;
    }
    .desenvolvedora{
        font-size: 15px;
    }
}

@media screen and (min-width: 480px) and (max-width:689px){
    .sobre{
        height: 99%;
        width: 99%;
        content: '';
        background-image: url(../imagens/back-2.jpg);
        background-position: center;
        background-size: cover;  
    }
    .video{
        display: none;
    }
    .container-sobre{
        height: 90%;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
    }
    /*PADRÃO DE TAMANHO DE CADA TITULO DE CADA DIVISÃO*/
    .logo-sobre h1, .diferencias h1, .produtos h1, .servicos h1, .feedbacks h1, .porque h1, .fale-conosco h1, .parceiros h1{
        font-size: 30px;
    }
    .logo-sobre img{
        height:130px;
        margin: 10px 0px 15px 0px;
    }
    .texto-sobre{
        width: 95%;
        font-size: 18px;
        line-height: 30px;
        padding: 5px;
    }
    #fechar-sobre{
        font-size: 40px;
        position: fixed;
        color: white;
        top: 35px;
        right: 25px;
        cursor: pointer;
        z-index: +2;
    }
    /*-----------------------------------*/
    .home{
        background-position: center;
    }
    .menu, .menu-tel{
        display: none;
    }
    .abrir-menu{
        display: flex;
    }
    /*-----------------------------------*/
    .empresa::before{
        font-size: 25px;
        word-spacing: 15px;
        letter-spacing: 10px;
    }
    marquee img{
        margin: 0px 10px;
    }
    .logo{
        height: 120px;
    }
    .gases{
        height: 25px;
    }
    .frases{
        width: 80%;
    }
    .frases h1{
        font-size: 20px;
    }
    /*-----------------------------------*/
    .diferencias{
        padding: 50px 0px;
    }
    .container-diferenciais{
        gap: 30px;
        flex-wrap: wrap;
    }
    .diferenca{
        font-size: 18px;
    }
    /*-----------------------------------*/
    .produtos{
        padding: 50px 0px 50px 0px;
    }
    .produtos h1, .four-bar{
        margin-top: 30px;
        margin-left: 20px;
    }
    .four-bar{
        margin-left: 20px;
        margin-top: 5px;
        width: 369px;
    }
    /*-----------------------------------*/
    .servicos small{
        font-size: 20px;
    }
    .container-servicos{
        gap:90px ;
        flex-wrap: wrap;
    }
    .tipo-servico img{
        height: 90px;
        bottom: 50px;
    }
    .tipo-servico{
        height: 220px;
        width: 300px;
    }
    .tipo-servico h2{
        bottom: 30px;
        font-size: 20px;
    }
    .tipo-servico p{
        bottom: 40px;
        font-size: 16px;
        padding: 0px 5px;
    }
    /*-----------------------------------*/
    .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
        flex-direction: column;
        gap: 25px;
    }
    .feed{
        width: 470px;
        height: 307px;
        padding: 10px 30px;
    }
    .foto{
        height: 75px;
    }
    .feed-text{
        font-size: 17px;
    }
    .feed-title{
        font-size: 18px;
    }
    /*-----------------------------------*/
    .porque{
        gap:30px;
    }
    .container-porque{
        gap: 30px;
    }
    /*-----------------------------------*/
    .fale-conosco h1{
        font-size: 35px;
    }
    .fale-conosco p{
        font-size: 20px;
    }
    .container-contato{
        margin-top: 50px;
        gap: 30px;
        flex-wrap: wrap;
    }
    .form-map{
        gap: 50px;
        flex-direction: column;
    }
    iframe{
        width: 450px;
    }
    /*-----------------------------------*/
    footer{
        height: 100%;
        padding: 50px 0px;
        z-index: +3;
        position: relative;
    }
    .container-footer{
        padding: 0px 0px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 20px;
    }
    .logo-final img{
        height: 90px;
    }
    .logo-final strong{
        font-size: 17px;
    }
    .logo-final h2{
        font-size: 17px;
    }
    .logo-final p{
        font-size: 12px;
    }
    .contatos-finais h2{
        font-size: 17px;
    }
    .contato-numero img{
        height: 25px;
    }
    .contato-numero p{
        font-size: 14px;
    }
    .paginas{
        display: none;
    }
} 

@media screen and (min-width: 690px) and (max-width:849px){
    .sobre{
        height: 99%;
        width: 99%;
        content: '';
        background-image: url(../imagens/back-2.jpg);
        background-position: center;
        background-size: cover;  
    }
    .video{
        display: none;
    }
    .container-sobre{
        flex-direction: column;
        gap: 10px;
        padding: 20px 3px;
    }
    /*PADRÃO DE TAMANHO DE CADA DIVISÃO*/
    .logo-sobre h1, .diferencias h1, .produtos h1, .servicos h1, .feedbacks h1, .porque h1, .fale-conosco h1, .parceiros h1{
        font-size: 35px;
    }
    .logo-sobre img{
        height: 150px;
        margin: 20px 0px 25px 0px;
    }
    .texto-sobre{
        width: 90%;
        font-size: 20px;
        letter-spacing:1px;
        line-height: 36px;
    }
    /*-----------------------------------*/
    .menu a{
        font-size: 20px;
        padding: 15px 10px;
    }
    .logo{
        height: 150px;
    }
    .gases{
        height: 34px;
    }
    .frases{
        width: 70%;
    }
    .frases h1{
        font-size: 30px;
    }
    /*-----------------------------------*/
    .diferencias{
        padding: 50px 0px;
        flex-direction: column;
    }
    .container-diferenciais{
        gap: 30px 50px;
        flex-wrap: wrap;
    }
    .diferenca{
        font-size: 17px;
        width: 280px;
    }
    /*-----------------------------------*/
    .produtos{
        padding: 50px 0px 100px 0px;
    }
    .container-produtos{
        margin-top: 100px;
    }
    .produtos h1, .four-bar{
        margin-top: 25px;
        margin-left: 25px;
    }
    .four-bar{
        width: 419px;
        margin-top: 5px;
    }
    /*-----------------------------------*/
    .container-servicos{
        gap:85px 40px;
        flex-wrap: wrap;
    }
    .tipo-servico img, .tipo-servico h2, .tipo-servico p{
        height: 90px;
    }
    .servicos small{
        font-size: 20px;
    }
    .tipo-servico{
        height: 250px;
        width: 300px;
    }
    /*-----------------------------------*/
    .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
        flex-direction: column;
        gap: 25px;
    }
    /*-----------------------------------*/
    .porque{
        gap:30px;
    }
    .container-porque{
        gap: 30px;
    }
    /*-----------------------------------*/
    .container-contato{
        gap: 50px;
        flex-wrap: wrap;
    }
    .form-map{
        gap: 50px;
        flex-direction: column;
    }
    iframe{
        width: 550px;
    }
    /*-----------------------------------*/
    footer{
        height: 100%;
        padding: 50px 0px;
    }
    .container-footer{
        padding: 0px 0px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 150px;
    }
    .logo-final img{
        height: 90px;
    }
    .logo-final strong{
        font-size: 17px;
    }
    .logo-final h2{
        font-size: 17px;
    }
    .logo-final p{
        font-size: 12px;
    }
    .contatos-finais h2{
        font-size: 17px;
    }
    .contato-numero img{
        height: 25px;
    }
    .contato-numero p{
        font-size: 14px;
    }
} 

@media screen and (min-width: 850px) and (max-width:1149px){
    .sobre{
        height: 90%;
        width: 80%;
    }
    .video{
        height: 90%;
        width: 80%;
    }
    .container-sobre{
        gap: 10px;
    }
    .logo-sobre h1{
        font-size: 30px;
    }
    .logo-sobre img{
        height: 200px;
    }
    .texto-sobre{
        width: 450px;
        font-size: 20px;
        letter-spacing:1px;
        line-height: 36px;
    }
    /*-----------------------------------*/
    .menu a{
        font-size: 25px;
        padding: 15px 15px;
    }
    .container-imagens{
        top:220px;
    }
    .logo{
        height: 150px;
    }
    .gases{
        height: 45px;
    }
    .frases h1{
        font-size: 30px;
        top: 400px;
    }
    .suporte{
        top: 530px;
    }
    /*-----------------------------------*/
    .container-diferenciais{
        gap: 30px;
    }
    .diferenca{
        width: 260px;
        font-size: 20px;
    }
    /*-----------------------------------*/
    .container-servicos{
        gap:85px 40px;
        flex-wrap: wrap;
    }
    /*-----------------------------------*/
    .container-perguntas{
        gap: 50px;
        flex-wrap: wrap;
    }
    /*-----------------------------------*/
    .container-contato{
        gap: 50px;
    }
    .contato{
        height: 200px;
        width: 245px;
    }
    .contato p{
        font-size: 15px;
    }
    .form-map{
        gap: 30px;
    }
    iframe{
        width: 400px;
    }
    .formulario{
        width: 400px;
    }
    /*-----------------------------------*/
    .feedback-1, .feedback-2, .feedback-3, .feedback-4, .feedback-5{
        gap: 15px;
    }
    .feed{
        padding: 10px 30px;
        width: 410px;
    }
    .aspas-1{
        right: 190px;
    }
    .aspas-2{
        left: 190px;
    }
    .feed-text{
        font-size: 17px;
    }
    /*-----------------------------------*/
    .container-footer{
        padding: 0px 30px;
    }
} 

@media screen and (min-width:1150px) and (max-width:1400px){
    .sobre{
        height: 75%;
        width: 85%;
    }
    .video{
        height: 75%;
        width: 85%;
    }
    .container-sobre{
        padding: 30px 10px;
    }
    .texto-sobre{
        width: 600px;
        font-size:25px;
    }
    .container-imagens{
        top:200px;
    }
    .logo{
        height: 150px;
    }
    .gases{
        height: 35px;
    }
    .frases h1{
        top: 370px;
    }.suporte{
        top: 530px;
    }
    /*-----------------------------------*/
    .container-servicos{
        gap: 80px;
    }
    /*-----------------------------------*/
    .container-perguntas{   
        gap: 80px;
    }
} 

@media screen and (min-width:2500px) and (max-width:3100px){
    #fechar-sobre{
        font-size: 70px;
    }
    .sobre{
        height: 80%;
    }
    .video{
        height: 80%;
    }
    /*PADRÃO DE TAMANHO DE CADA DIVISÃO*/
    .logo-sobre h1, .diferencias h1, .produtos h1, .servicos h1, .feedbacks h1, .porque h1, .fale-conosco h1, .parceiros h1{
        font-size: 60px;
    }
    .container-sobre{
        height: 90%;
        gap: 50px;
        margin: 0px 20px;
        backdrop-filter: blur(10px);
    }
    .two-bar{
        width: 300px;
        height:10px;
    }
    .logo-sobre img{
        height: 450px;
    }
    
    .texto-sobre{
        font-size: 50px;
        width: 70%;
        padding:20px;
        line-height: 65px;
    }
    /*-----------------------------------*/
    .empresa{
        height: 150px;
    }
    .empresa::before{
        font-size: 50px;
        word-spacing: 50px;
        letter-spacing: 20px;
    }
    marquee img{
        margin: 0px 70px;
    }
    .alok{
        height: 120px;
        width: 120px;
    }
    .ambev{
        height: 120px;
        width: 280px;
    }
    .minalba{
        height: 100px;
        width: 230px;
    }
    .rio{
        height: 120px;
        width: 270px;
    }
    .so-track{
        height:120px;
        width: 130px;
    }
    .rap{
        height:120px;
        width:120px;
    }
    .menu{
        gap: 40px;
        padding: 0px 15px;
        top: 200px;
    }
    .menu a{
        font-size: 50px;
        padding: 15px 30px;
    }
    .container-imagens{
        top:300px;
    }
    .logo{
        height: 400px;
    }
    .gases{
        height: 90px;
    }
    .frases h1{
        font-size: 65px;
        width: 80%;
        top: 750px;
    }
    .suporte{
        font-size: 60px;
        top: 950px;
    }
    .suporte::before{
        height: 100px;
        width: 25%;
    }
    .whats-fixo img{
        height: 100px;
    }
    /*-----------------------------------*/
    .diferencias{
        padding: 100px;
        height: 100%;
        width: 100%;
    }
    .three-bar{
        width: 400px;
    }
    .container-diferenciais{
        gap: 100px;
        margin-top: 100px;
    }
    .diferenca{
        width: 500px;
        font-size: 30px;
    }
    .diferenca img{
        height: 200px;
        bottom: 90px;
    }
    /*-----------------------------------*/
    .four-bar{
        height: 10px;
        width: 668px;
    }
    .container-produtos{
        gap: 50px;
        height: 650px;
    }
    .produto{
        height:620px;
        min-width: 530px;
        gap: 20px;
    }
    .titulo-produtos{
        padding: 10px 20px;
        font-size: 38px;
        border: 2px solid;
    }
    .produto img{
        height: 220px;
    }
    .especificacao{
        font-size: 24px;
    }
    .botao-produtos{
        font-size: 40px;
    }

    /*-----------------------------------*/
    .servicos small{
        font-size: 40px;
    }
    .container-servicos{
        margin-top: 200px;
        gap: 200px;
    }
    .tipo-servico{
        height: 400px;
        width: 460px;
    }
    .tipo-servico img, .tipo-servico h2{
        height: 210px;
        bottom: 100px;
    }
    .tipo-servico h2{
        font-size: 35px;
        bottom: 60px;
    }
    .tipo-servico p{
        font-size: 27px;
        line-height: 30px;
        bottom: 130px;
    }
    .saiba-botao{
        padding: 25px 50px;
        font-size: 30px;
    }
    /*-----------------------------------*/
    .feed{
        padding: 10px 55px;
        width: 800px;
        height: 540px;
    }
    .foto{
        height: 150px;
    }
    .aspas-1{
        right: 300px;
        top: 28px;
    }
    .aspas-2{
        left: 300px;
    }
    .feed-text{
        font-size: 30px;
    }
    .feed-title{
        font-size: 30px;
    }
    .estrela{
        font-size: 25px;
    }
    .trocas{
        margin-top: 70px;
        padding:15px 50px;
    }
    .bt1, .bt2, .bt3, .bt4, .bt5{
        height: 50px;
        width: 50px;
    }
    /*-----------------------------------*/
    .porque-escolher{
        width: 600px;
        height: 200px;
        gap: 10px;
    }
    .porque-escolher h3{
        font-weight:500;
        font-size: 30px;
    }
    .porque-escolher p{
        font-size: 25px;
    }
    /*-----------------------------------*/
    .fale-conosco p{
        font-size: 40px;
    }
    .contato{
        height: 300px;
        width: 450px;
    }
    .contato img{
        height: 100px;
    }
    .contato h4{
        font-size:30px;
    }
    .contato p{
        font-size: 27px;
    }
    iframe{
        height: 700px;
        width: 800px;
    }
    .formulario{
        height: 100%;
        width: 100%;
        padding: 50px;
        gap: 40px;
    }
    .formulario h5{
        font-size: 40px;
    }
    .nome, .numero, .email{
        height: 60px;
        width: 550px;
        font-size: 30px;
    }
    textarea{
        font-size: 30px;
        width: 550px;
    }
    .form-botao{
        padding: 15px 35px;
        font-size: 30px;
    }
    /*-----------------------------------*/
    footer{
        height: 400px;
    }
    .logo-final img{
        height: 120px;
    }
    .logo-final strong{
        font-size: 25px;
    }
    .logo-final p{
        font-size: 18px;
    }
    .contatos-finais h2{
        font-size: 25px;
    }
    .contato-numero{
        gap: 5px;
        margin: 10px 0px;
    }
    .contato-numero img{
        height: 40px;
    }
    .contato-numero p{
        font-size: 25px;
    }
    .paginas a{
        font-size: 23px;
    }
    .redes-sociais h2{
        font-size: 25px;
    }
    .sociais{
        gap: 25px;
    }
    .sociais img{
        height: 50px;
    }
    .desenvolvedora{
        font-size: 25px;
        gap: 10px;
    }
    .desenvolvedora img{
        height: 40px;
    }
}

/*ALTERAÇÕES GLOBAIS*/
@media screen and (max-width:1250px){
    .paginas{
        display: none;
    }
    .section-logo img, .section-logo-pr{
        display: none;
    }
}

@media screen and (max-width:850px){
    .home{
        justify-content: center;
    }
    .container-imagens{
        position: static;
    }
    .frases{
        text-align: center;
        margin-top: 0px;
    }
    .frases h1{
        position: static;
        width: 100%;
    }
    .suporte{
        position: static;
        margin-top: 30px;
    }
    .suporte::before{
        width: 60px;
    }
}